<!-- Footer -->
    <div class="container-fluid" id="footer">
        <div class="row text-sm-left text-md-left">
            <div class="legal-logo">
                <div class="col-md-2 text-left" id="footer-brand">
                    <a class="navbar-brand page-scroll brand-name" href="#page-top">
                        <img src="/static/images/favicon.png" alt="<%= __("/ListX/UI/Index/SiteName") %>"
                             class="footer-brand-image text-white">&nbsp;&nbsp;<span style="color: white">List</span><span class="x">X</span>
                    </a>
                </div>
                <div class="col-md-2 vertical-divider-left" id="footer-links1">
                    <h5 class="footer-heading color-red"><%= __("/ListX/UI/Index/About") %></h5>
                    <a class="footer-link" href="/imprint"><h6><%= __("/ListX/UI/Index/imprint") %></h6></a>
                    <a class="footer-link" href="/privacy"><h6><%- __("/ListX/UI/Index/privacy") %></h6></a>
                    <a class="footer-link" href="/terms"><h6><%= __("/ListX/UI/Index/terms") %></h6></a>
                    <div class="inline  ">
                        <a href="/language/de" class="btn btn-default">DE</a>
                        <a href="/language/en" class="btn btn-default">EN</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2" id="footer-links2">
                <h5 class="footer-heading"><a href="/developer" class="color-red"><%= __("/ListX/UI/Index/developers") %></a></h5>
                <h6><a class="footer-link" href="/docs"><%= __("/ListX/UI/Index/ApiDocs") %></a></h6>
                <h6><a class="footer-link"
                       href="https://github.com/lucakiebel/ListX"><%= __("/ListX/UI/Index/sourceCode") %></a></h6>
                <h6><a href="https://npmjs.com/package/listx" class="footer-link">NPM</a></h6>
                <h6><a href="/faq-dev" class="footer-link"><%= __("/ListX/UI/Index/faqDev") %></a></h6>
            </div>
            <div class="col-md-2" id="footer-links3">
                <h5 class="footer-heading"><%= __("/ListX/UI/Index/resources") %></h5>
                <h6><a class="footer-link" href="/support"><%= __("/ListX/UI/Index/support") %></a></h6>
                <h6><a class="footer-link" href="/blog"><%= __("/ListX/UI/Index/blog") %></a></h6>
                <h6><a class="footer-link" href="/guides"><%= __n("/ListX/UI/Index/guide", 0) %></a></h6>
            </div>
            <div class="col-md-2" id="footer-links4">
                <h5 class="footer-heading">Links</h5>
                <h6><a href="https://twitter.com/listx.io" class="footer-link">Twitter</a></h6>
                <h6><a href="/signup" class="footer-link"><%= __("/ListX/UI/Index/signUp") %></a></h6>
                <h6>
                    <a href='https://play.google.com/store/apps/details?id=io.listx.apps.listx&hl=<%= __("/ListX/UI/htmlLang").toLowerCase() %>&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
                                alt='<%= __("/ListX/UI/Footer/OnGooglePlay") %>' class="img-responsive"
                                src='https://play.google.com/intl/en_us/badges/images/generic/<%= __("/ListX/UI/htmlLang").toLowerCase() %>_badge_web_generic.png'/></a>
                </h6>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12 text-right bottom" id="companyLogoDiv">
                <h5><a style="color: white" href="https://luca-kiebel.de" class="pull-right copy"
                       id="companyLogo">&copy; Bleurque Inc.</a></h5>
            </div>
        </div>
    </div>
