<!DOCTYPE html>
<html lang="<%=__("/ListX/UI/htmlLang") %>">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%=__("/ListX/UI/Index/SiteTitle") %>">
    <meta name="author" content="Klequex Software & UX">
    <meta name="keywords" content="List, Shopping List, Free, Grocery List, Holidays, Planing, Food, ListX">
    <link rel="alternate" href="/language/en" hreflang="en-uk">
    <link rel="alternate" href="/language/en" hreflang="en-us">
    <link rel="alternate" href="/language/de" hreflang="de">
    <link rel="alternate" href="/language/fr" hreflang="fr">
    <link rel="alternate" href="/language/nl" hreflang="nl">

    <title><%=__("/ListX/UI/Index/SiteTitle") %></title>



    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/dashboard.css">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.js"></script>
    <!-- Theme JavaScript -->
    <script src="/javascripts/dashboard.js"></script>
    <script>
        const userId = "<%= user._id %>";

    </script>
</head>
<body>
<!-- Navigation -->
<div class="container">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" style="margin-top: 14px">
        <div class="container">

            <div class="navbar-header">
                <a href="/" class="header-image">
                    <img src="/images/favicon.png" alt="<%=__("/ListX/UI/SiteName") %>" height="40px">
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>

            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse  navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li>
                        <a href="/dashboard"><%= __("/ListX/UI/Dashboard/Lists") %></a>
                    </li>
                    <li>
                        <a href="/devs">Developers</a>
                    </li>
                    <li>
                        <a href="/docs/api">API</a>
                    </li>
                    <li>
                        <a href="/support"><%= __("/ListX/UI/Index/support") %></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= __("/ListX/UI/Dashboard/myAccount") %> <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-element">
                            <li><a href="/user/settings"><%= __("/ListX/UI/Dashboard/Settings") %></a></li>
                            <li><a href="/feedback"><%= __("/ListX/UI/Dashboard/Feedback") %></a></li>
                            <li><a href="/logout"><%= __("/ListX/UI/Dashboard/Logout") %></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

</div>
<div class="container">
    <div class="listx-content">
        <!-- Content -->

        <div class="row">
            <div class="col-md-4">
                <h1>Lists</h1>
            </div>
            <div class="col-md-5 col-md-offset-3">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Search Lists by Name" id="search-lists">
                        <a href="#" class="btn btn-lg btn-default" data-toggle="modal" data-target="#newListModal">New List</a>
                    </div>
                </form>
            </div>
        </div>

        <hr>

        <div class="container" id="list-container">
            <!-- Repeat Div for every List -->
        </div>


        <!-- New List Modal -->
        <div class="modal fade" id="newListModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> <%= __("/ListX/UI/Dashboard/ListModal/HeaderText") %></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <form role="form" class="form-horizontal" onsubmit="return false;">
                                    <div class="form-group">
                                        <label for="new-name"><%= __("/ListX/UI/Dashboard/ListModal/Form/Name") %></label>
                                        <input class="form-control" type="text" id="new-name" name="name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-users"><a href="javascript:void(0)" data-toggle="popover" data-content="<%= __("/ListX/UI/Dashboard/ListModal/Form/UsersHelper") %>"><%= __("/ListX/UI/Dashboard/ListModal/Form/Users") %> <i class="fa fa-info-circle"></i></a></label>
                                        <textarea class="form-control" rows="5" id="new-users" name="users" spellcheck="false"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-country"><%= __("/ListX/UI/Dashboard/ListModal/Form/Country") %></label>
                                        <select class="input-medium bfh-countries form-control" id="new-country" data-country="<%= __("/ListX/UI/htmlLang") %>" required></select>
                                    </div>
                                    <input type="hidden" value="<%= user._id %>" id="new-admin">
                                    <input type="submit" id="new-submit" class="btn btn-default btn-block" value="<%= __("/ListX/UI/Dashboard/ListModal/Form/Submit") %>">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
        <!-- New List Modal -->


    </div>
</div>


<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/vendor/bs-form-helpers/js/bootstrap-formhelpers-countries.js"></script>
<script src="/vendor/bs-form-helpers/js/lang/<%=__("/ListX/UI/Links/JS/CountryPicker")%>"></script>



</body>
</html>