<!DOCTYPE html>
<html lang="<%=__("/ListX/UI/htmlLang") %>">
<head>

    <%- include partials/head.ejs %>
    <title>Dashboard - <%=__("/ListX/UI/Index/SiteTitle") %></title>

    <link rel="preload" href="/images/preloader.gif" as="image">

    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="/vendor/bootstrap/tagsinput/tagsinput.css">

    <!-- Theme JavaScript -->
    <script src="/javascripts/dashboard.js"></script>
    <script>
        const userId = "<%= user._id %>";
    </script>
</head>
<body>
<!-- Navigation -->
<%- include partials/navigation.ejs %>
<div class="container">
    <div class="listx-content">
        <!-- Content -->

        <div class="row">
            <div class="col-md-4">
                <h1>Lists</h1>
            </div>
            <div class="col-md-5 col-md-offset-3">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="<%=__("/ListX/UI/Dashboard/SearchLists")%>" id="search-lists">
                        <a href="#" class="btn btn-lg btn-default" data-toggle="modal" data-target="#newListModal"><%=__("/ListX/UI/Dashboard/NewList")%></a>
                    </div>
                </form>
            </div>
        </div>

        <hr>

        <div class="container" id="list-container">
            <div class='col-md-offset-5 col-md-1'>
                <img src="/images/preloader.gif" alt="Loading...." height="20px">
            </div>
        </div>


        <!-- New List Modal -->
        <div class="modal fade" id="newListModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> <%= __("/ListX/UI/Dashboard/ListModal/HeaderText") %></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <form role="form" class="form-horizontal" onsubmit="return false;">
                                    <div class="form-group">
                                        <label for="new-name"><%= __("/ListX/UI/Dashboard/ListModal/Form/Name") %></label>
                                        <input class="form-control" type="text" id="new-name" name="name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-users"><a href="#" data-toggle="popover" data-content="<%= __("/ListX/UI/Dashboard/ListModal/Form/UsersHelper") %>"><%= __("/ListX/UI/Dashboard/ListModal/Form/Users") %> <i class="fa fa-info-circle"></i></a></label>
                                        <input type="text" name="users" class="form-control" data-role="tagsinput" id="new-users">
                                    </div>
                                    <div class="form-group">
                                        <label for="new-country"><%= __("/ListX/UI/Dashboard/ListModal/Form/Country") %></label>
                                        <select class="input-medium bfh-countries form-control" id="new-country" data-country="<%= __("/ListX/UI/htmlLang") %>" required></select>
                                    </div>
                                    <input type="hidden" value="<%= user._id %>" id="new-admin">
                                    <input type="submit" id="new-submit" class="btn btn-default btn-block" value="<%= __("/ListX/UI/Dashboard/ListModal/Form/Submit") %>">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
        <!-- New List Modal -->


    </div>
</div>


<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/vendor/bs-form-helpers/js/bootstrap-formhelpers-countries.js"></script>
<script src="/vendor/bs-form-helpers/js/lang/<%=__("/ListX/UI/Links/JS/CountryPicker")%>"></script>
<script src="/vendor/bootstrap/tagsinput/tagsinput.js"></script>


</body>
</html>