<html lang="<%=__("/ListX/UI/htmlLang") %>">
<head>
    <%- include partials/head.ejs%>
    <title><%= __("/ListX/UI/ListSettings")%> - <%=__("/ListX/UI/Index/SiteTitle") %></title>

    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <!-- Theme JavaScript -->
</head>
<body>
<!-- Navigation -->
<%- include partials/navigation.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><%= __("/ListX/UI/Index/error")%></h1>
        </div>
    </div>
    <div class="listx-content">
        <div class="row">
            <p><%=msg%> <a href="<%=url%>"><%= __("/ListX/UI/404")%></a></p>
        </div>
    </div>


</div>
<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>




</body>
</html>