<!DOCTYPE html>
<html lang="<%=__("htmlLang") %>">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%=__("SiteTitle") %>">
    <meta name="author" content="Klequex Software & UX">

    <title><%=__("SiteTitle") %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.css">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="/stylesheets/grayscale.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll color-visible" href="#page-top">
                <img src="/images/favicon.png" alt="<%=__("SiteName") %>" class="navbar-brand-image"> &nbsp;&nbsp; List<span class="x">X</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse  navbar-main-collapse">
            <ul class="nav navbar-nav navbar-center">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll color-visible" href="#about"><%= __("learnMore") %></a>
                </li>
                <li>
                    <a class="color-visible" href="/demo"><%= __("demo") %> </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="float: right">
                <li>
                    <a href="/signup" class="navbar-nav color-visible"><%= __("signUp") %> </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle color-visible" data-toggle="dropdown"><%= __("logIn") %> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-lr animated slideInRight" role="menu">
                        <div class="col-lg-12">
                            <form id="ajax-login-form" role="form" autocomplete="on" onsubmit="return loginValidation(this)">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="email" name="email" id="username" tabindex="1" class="form-control" placeholder="Username" value="" autocomplete="off">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <a id="login-submit" onclick='$("#ajax-login-form").submit()' class="btn btn-default btn-lg" tabindex="3" >Log In</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <h1 class="brand-heading" style="text-align: left !important;"><%- __("Title1") %> </h1>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="brand-name"><%- __("aboutProjectName")%></h2>
            <p><%- __("aboutProjectLongText")%></p>
            <p><%- __("aboutProjectShortText")%></p>
        </div>
    </div>
</section>

<!-- Showcast Section -->
<section id="showcast" class="content-section text-center">
    <div class="showcase-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Download Grayscale</h2>
                <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Start Bootstrap</h2>
            <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
            <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>


<!-- Footer -->
<footer>
    <div class="col-md-2 text-left">
        <a class="navbar-brand page-scroll color-visible brand-name" href="#page-top">
            <img src="/images/favicon.png" alt="<%=__("SiteName") %>" class="navbar-brand-image">&nbsp;&nbsp;List<span class="x">X</span>
        </a>
    </div>
    <div class="col-md-2 vertical-divider-left">
        <a class="footer-link" href="/imprint"><h5><%=__("imprint") %></h5></a>
        <a class="footer-link" href="/privacy"><h5><%=__("privacy") %></h5></a>
        <a class="footer-link" href="/terms"><h5><%=__("terms") %></h5></a>
        <div class="inline">
            <a href="/language/de" class="btn btn-default">DE</a><a href="/language/en" class="btn btn-default">EN</a>
        </div>
    </div>
    <div class="col-md-2">
        <h5 class="footer-heading"><a href="/developer" class="color-red"><%=__("developers") %></a></h5>
        <h6><a class="footer-link" href="/docs">API-<%=__("docs") %></a></h6>
        <h6><a class="footer-link" href="https://github.com/klequex/ListX"><%=__("sourceCode") %></a></h6>
        <h6><a href="https://npmjs.com/package/listx" class="footer-link">NPM</a></h6>
    </div>
    <div class="col-md-2">
        <h5 class="footer-heading"><%=__("resources") %></h5>
        <h6><a class="footer-link" href="/support">Support</a></h6>
        <h6><a class="footer-link" href="/blog">Blog</a></h6>
        <h6><a class="footer-link" href="/guides"><%=__n("guide", 0) %></a></h6>
    </div>
    <div class="col-md-2">
        <h5 class="footer-heading">Links</h5>
        <h6><a href="https://twitter.com/listx.io" class="footer-link">Twitter</a></h6>
        <h6><a href="/signup" class="footer-link"><%=__("signUp") %></a></h6>
        <h6><a href="/demo" class="footer-link"><%=__("demo") %></a></h6>
        <h6><a href="" class="footer-link"></a></h6>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-12 text-right bottom">
        <h5><a style="color: black" href="https://klequex.com" class="pull-right copy">&copy; Kleque<span class="color-red">x</span> Software</a></h5>
    </div>
</footer>

<!-- jQuery -->
<script src="/vendor/jquery/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="/javascripts/grayscale.js"></script>

</body>

</html>
