<!doctype html>

<html ng-app="ShoppingList">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title><%=list.name%> | <%= __("/ListX/UI/SiteName")%></title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html                    {   overflow-y:scroll;   }
        body                    {   padding-top:2%;      }
        #todo-list              {   margin-bottom:4%;    }
        #insert-button		    {   margin-bottom:2%;    }
        input.form-control	    {   margin-top:2%;       }
        h3                      {   margin-top: 0;       }
    </style>

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.js"></script>
    <!-- AngularJS -->
    <script src="/vendor/angular/angular-1.0.8.js"></script>
    <!-- Angular App -->
    <script>const listId = "<%=list._id%>"</script>
    <script src="/javascripts/listsController.js"></script>
</head>
<body ng-controller="mainController">
<div class="container">

    <div class="jumbotron text-center">
        <h1><%=list.name%></h1>
        <h2><%= __("/ListX/UI/List/Elements")%>: <span class="label label-danger">{{ items.length }}</span></h2>
    </div>

    <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="checkbox ng-scope" ng-repeat="item in items">
                <label>
                    <input type="checkbox" ng-click="deleteTodo(item._id)"> <h3 style="margin-top: 0"> {{ item.name }} </h3>
                    <ul><li ng-show="item.amount"><h4><%= __("/ListX/UI/List/Amount")%>: {{ item.amount }}</h4></li><li ng-show="item.art"><h4><%= __("/ListX/UI/List/Art") %>: {{ item.art }}</h4></li></ul>
                </label>
            </div>
    </div>

    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="<%= __("/ListX/UI/List/NameSetter")%>" ng-model="formData.name">
                    <input type="text" class="form-control input-lg" placeholder="<%= __("/ListX/UI/List/AmountSetter")%>" ng-model="formData.amount">
                    <input type="text" class="form-control input-lg" placeholder="<%= __("/ListX/UI/List/ArtSetter")%>" ng-model="formData.art" />
                </div>

                <button type="submit" id="insert-button" class="btn btn-danger btn-lg" ng-click="createTodo()"><%= __("/ListX/UI/List/AddElement")%></button>
            </form>
        </div>
    </div>

    <div class="container">
        <a href="/dashboard"><%= __("/ListX/UI/Index/dashboard") %></a> <a href="./settings"><%= __("/ListX/UI/Index/settings") %></a>
    </div>


</div>

</body>
</html>
