<!DOCTYPE html>
<html lang="<%=__("/ListX/UI/htmlLang") %>">
<head>
    <%- include partials/head.ejs%>
    <title><%= __("/ListX/UI/UserSettings")%> - <%=__("/ListX/UI/Index/SiteTitle") %></title>

    <link rel="stylesheet" href="/static/stylesheets/settings-user.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap/tagsinput/tagsinput.css">
    <!-- Theme JavaScript -->
    <script src="/static/javascripts/settings-user.js"></script>
    <script>
        const userId = "<%= user._id %>";
    </script>
</head>
<body>
<!-- Navigation -->
<%- include partials/navigation.ejs %>
<div class="container">
    <div class="listx-content">
        <!-- Content -->

        <div class="row">
            <div class="col-md-12">
                <h1><%= __("/ListX/UI/UserSettings/YourInformation") %></h1>
                <p><%- __("/ListX/UI/UserSettings/InformationLong") %></p>
                <p><%- __("/ListX/UI/UserSettings/InformationLong2") %></p>
            </div>
        </div>
        <hr>
        <div class="container">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-4 input-group-lg pr30">
                        <label for="inputEmail"><%= __("/ListX/UI/Email")%></label>
                        <div class="input-group input-group-lg">
                            <input type="email" class="form-control" id="inputEmail" placeholder="<%= __("/ListX/UI/Email")%>" value="<%=user.email%>" disabled title="<%=__("/ListX/UI/Dashboard/checkEmail")%>" data-trigger="manual" data-placement="top">
                            <div class="input-group-addon" id="email-change-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 input-group-lg pr30">
                        <label for="inputName"><%= __("/ListX/UI/Name")%></label>
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" id="inputName" placeholder="<%= __("/ListX/UI/Name")%>" value="<%=user.name%>" disabled>
                            <div class="input-group-addon" id="name-change-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 input-group-lg pr30">
                        <label for="inputAddress"><%= __("/ListX/UI/Username")%></label>
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" id="inputUsername" placeholder="<%= __("/ListX/UI/Username")%>" value="<%=user.username%>" disabled data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="You can only change your Username once a year.">
                            <div class="input-group-addon" id="username-change-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
            </form>
            <form>
                <div class="divider"></div>
                <div class="form-row">
                    <div class="form-group col-md-4 input-group-lg paddingR30">
                        <label for="inputAddress2"><%= __("/ListX/UI/Address")%></label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main Blvd" value="<%= user.address ? user.address : "" %>" autocomplete="street-address">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 input-group-lg paddingR30">
                        <label for="inputZip"><%= __("/ListX/UI/Zip")%></label>
                        <input type="text" class="form-control" id="inputZip" placeholder="11550" value="<%= user.zipCode ? user.zipCode : "" %>" autocomplete="postal-code">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 input-group-lg paddingR30">
                        <label for="new-country"><%= __("/ListX/UI/Country")%></label>
                        <select class="bfh-countries form-control" id="new-country" data-flags="true" data-country="<%= user.country ? user.country : "US" %>"  ></select>
                    </div>
                </div>
                <div class="form-row">
                    <button type="button" id="save-address-button" class="btn btn-default btn-lg"><%= __("/ListX/UI/UserSettings/SaveAddress")%></button>
                </div>
                <br>
                <hr class="separator">
                <br>
                <div class="form-row">
                    <div class="controls">
                        <button type="button" class="btn btn-success" id="getInformationBtn" data-reset="<%= __("/ListX/UI/UserSettings/SaveInfo") %>" data-loadingText="<i class='fa fa-spinner fa-spin '></i> <%=__("/ListX/UI/Dashboard/loadingInformationTooltip")%>" title="<%=__("/ListX/UI/Dashboard/checkEmail")%>" data-trigger="manual" data-placement="top"><%= __("/ListX/UI/UserSettings/SaveInfo") %></button>
                        <p class="help-block"><%= __("/ListX/UI/UserSettings/SaveInfoHelper") %></p>
                    </div>
                    <div class="controls">
                        <button type="button" class="btn btn-danger" id="deleteAccountBtn"><%= __("/ListX/UI/UserSettings/DeleteInfo") %></button>
                        <p class="help-block"><%- __("/ListX/UI/UserSettings/DeleteInfoHelper")%> <%- user.premium ? __("/ListX/UI/UserSettings/DeleteInfoHelperPremium") : ""%></p>
                    </div>
                </div>
                <br>
                <hr class="separator">
                <br>
                <div class="form-row">
                    <div class="form-group input-group-lg paddingR30">
                        <label for="api-token">API-Token</label>
                        <input type="text" name="api-token" class="form-control" id="api-token" value="<%= apiToken ? apiToken : ""%>">
                        <p class="help-block">This is your API-Token, you may use this to make requests to ListX in order to use ListX with your own application.</p>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


<!-- Bootstrap Core JavaScript -->
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Bootstrap Addons -->
<script src="/static/vendor/bootstrap/tagsinput/tagsinput.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/static/vendor/bs-form-helpers/js/bootstrap-formhelpers-countries.js"></script>
<script src="/static/vendor/bs-form-helpers/js/lang/<%=__("/ListX/UI/Links/JS/CountryPicker")%>"></script>




</body>
</html>