<!DOCTYPE html>
<html lang="<%=__("/ListX/UI/htmlLang") %>">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%=__("/ListX/UI/Index/SiteTitle") %>">
    <meta name="author" content="Klequex Software & UX">
    <meta name="keywords" content="List, Shopping List, Free, Grocery List, Holidays, Planing, Food, ListX">
    <link rel="alternate" href="/language/en" hreflang="en-uk">
    <link rel="alternate" href="/language/en" hreflang="en-us">
    <link rel="alternate" href="/language/de" hreflang="de">
    <link rel="alternate" href="/language/fr" hreflang="fr">
    <link rel="alternate" href="/language/nl" hreflang="nl">

    <title><%=__("/ListX/UI/Index/SiteTitle") %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Google reCAPTCHA v2 -->
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>

    <!-- Animate CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.css">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="/stylesheets/login.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">

<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="row center vertical-space-20">
                <a href="/" class="listx">
                    <h1 style="color: black"><img src="/images/favicon.png" alt="<%=__("/ListX/UI/SiteName") %>" height="40px">List<span class="x">X</span></h1>
                </a>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="center"><%= __("/ListX/UI/Index/signUp") %></h3>
                        <div class="alert alert-danger signup-error" id="signup-error-email" style="display: none">
                            <strong><%= __("/ListX/UI/Index/error")%>: </strong> <%= __("/ListX/UI/SignUp/ErrorMessageEmail") %>
                        </div>
                        <div class="alert alert-danger signup-error" id="signup-error-server" style="display: none">
                            <strong><%= __("/ListX/UI/Index/error")%>: </strong> <%- __("/ListX/UI/SignUp/ErrorMessageServer") %>
                        </div>
                        <div class="alert alert-danger signup-error" id="signup-error-rc" style="display: none">
                            <strong><%= __("/ListX/UI/Index/error")%>: </strong> <%- __("/ListX/UI/SignUp/ErrorMessageRC") %>
                        </div>
                        <div class="alert alert-success" id="signup-success" style="display: none">
                            <strong><%= __("/ListX/UI/Index/success")%>: </strong> <%- __("/ListX/UI/SignUp/SuccessMessage") %>
                        </div>
                        <div class="alert alert-danger signup-error" id="signup-error-disposable" style="display:none">
                            <strong><%= __("/ListX/UI/Index/error") %></strong> <%= __("/ListX/UI/SignUp/ErrorMessageDisp")%>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" id="signup-form">
                            <fieldset>
                                <div class="form-group">
                                    <label for="form_name"><%= __("/ListX/UI/SignUp/enterYourName") %></label>
                                    <input type="text" class="form-control" id="form_name" name="name" required autocomplete="name">
                                </div>
                                <div class="form-group">
                                    <label for="form_email"><%= __("/ListX/UI/Index/enterEmail") %></label>
                                    <input class="form-control" id="form_email" name="email" type="email" value="<%= email !== undefined ? email : ""%>" required autocomplete="email">
                                </div>
                                <div class="form-group">
                                    <label for="form_password"><%= __("/ListX/UI/Index/enterPassword") %></label>
                                    <div class="pull-right" id="show-password"><i id="show-password-i" class="fa fa-eye fa-lg" aria-hidden="true"></i></div>
                                    <input class="form-control" id="form_password" name="password" type="password" required autocomplete="new-password">
                                </div>
                                <div class="g-recaptcha" data-sitekey="6Ld0czoUAAAAAJlIj1qpWg9KyZQlRWcLp58A1Oj2"></div>
                                <input type="hidden" id="list-from-invitation" value="<%= list ? list._id : ""%>">
                                <input class="btn btn-lg btn-default btn-block" type="submit" value="<%= __("/ListX/UI/Index/signUp") %>">
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="already">
                    <p><%= __("/ListX/UI/SignUp/alreadyAccount") %> <a href="/login" style="color: black"><%= __("/ListX/UI/Index/logIn") %></a></p>

                </div>
            </div>

        </div>
    </div>
</div>



<!-- jQuery -->
<script src="/vendor/jquery/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- SHA512 to truncate password length -->
<script src="/vendor/sha512/sha512.js"></script>

<!-- Theme JavaScript -->
<script src="/javascripts/signup.js"></script>

</body>
</html>